.HorizontalWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-image: url("/src/assets/horizontalBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(10%);
}

.page {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
}

.HorizontalWrapper::-webkit-scrollbar {
  display: none;
}

.HorizontalWrapper {
  scrollbar-width: none;
}
