.page {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.page:nth-of-type(1) {
	background-color: rgb(241, 241, 0);
}
.page:nth-of-type(2) {
	background-color: rgb(50, 159, 255);
}
.page:nth-of-type(3) {
	background-color: rgb(255, 153, 0);
}
.page:nth-of-type(4) {
	background-color: rgb(255, 145, 1);
}
