.HorizontalWrapper{
  display: flex;
  flex-direction: row;
  width: 600vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background-image: url("../../assets/Frame.png");
  scrollbar-width: none;
}
::-webkit-scrollbar{
  display: none;
}
.OuterWrapper{
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/* ::-webkit-scrollbar{
  display: none;
}
.OuterWrapper::-webkit-scrollbar{
  display: none;
} */

.page {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.jeep {
  position: absolute;
  left: 1rem;
  margin: 0;
  padding: 0;
  top: 68vh;
  width: 20rem;
  height: 10rem;
  z-index: 1;
}
