.HorizontalWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  z-index: 1;
}

.page {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

.HorizontalWrapper::-webkit-scrollbar {
  display: none;
}

.HorizontalWrapper {
  scrollbar-width: none;
}
